In [1]:
import pandas as pd

In [2]:
# read json file, change row to column
df = pd.read_json('/Users/liuxiaoquan/Documents/706/Final_project/Reddit_new.json', orient='index')

In [3]:
len(df)

24506

In [4]:
df.head()

,title,body,comment,L1,L2,L3,L4,L5,L6
2k7915,Why is the NW map so small?,When did this change? It's not been fun spawni...,Maybe they need to keep the map large to start...,0,0,0,0,0,0
1k3845,Any updates in regards to the Flame War?,Just out of curiosity. I'm only wondering what...,Shut the fuck up freeloading asshat,3,1,0,0,0,1
1k8446,Hey,"Im not phased by anything, love you all and I'...",MORE WIGGER SHIT TO DECODE,3,1,0,0,0,1
14k940,Any tips for final exams?,I am a first year student in Bachelor of Scien...,"For Calc2, do past exams \* 6, remember to exp...",0,0,0,0,0,0
12k646,My orthodontist just said I can't have nuts be...,What do I do I want to keep my nuts,just eat em and be careful it's fine,0,0,0,0,0,0

In [5]:
#select body and L2, change L2 to Class
df_select = df[['body', 'L2']].copy()
df_select.rename(columns={'L2':'Class'}, inplace=True)

In [6]:
df_select.head()

                                                     body  Class
2k7915  When did this change? It's not been fun spawni...      0
1k3845  Just out of curiosity. I'm only wondering what...      1
1k8446  Im not phased by anything, love you all and I'...      1
14k940  I am a first year student in Bachelor of Scien...      0
12k646                What do I do I want to keep my nuts      0

In [7]:
#check the number of each class
df_select['Class'].value_counts()

1    12577
0    11929
Name: Class, dtype: int64

In [8]:
# save to csv
df_select.to_csv('reddit_annotated.csv', index=False)

In [16]:
ht = pd.read_table('/Users/liuxiaoquan/Documents/706/Final_project/RAL-E/retrain_reddit_abuse_test.txt', header=None)

In [20]:
len(ht)

14932